@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);*/
body, table, div, p{ font-family: ‘Spoqa Han Sans’, ‘Spoqa Han Sans JP’, ‘Sans-serif’; }
/*font-weight는 100(thin), 400(normal), 700(bold)만 사용하세요.*/

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);*/
/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);*/

.bold{
    font-weight:900 !important;
}

.navbar-light .navbar-toggler{
    border:none !important;
}
.btn-arrow:hover{
    background-color : rgba(27,72,129,.85) !important;
}

.bold{
    font-weight:900 !important;
}

.pr_img{
    max-width:90px;
    margin-bottom:45px;
    /*width:60%;*/
}
.mb-3{
    font-weight:bold;
    font-size:1.5rem;
}
.mb-0{
    padding:5px 0px;
    color: #242424;
}
.portfolio-box img{
    width:100%;
}
.contact-icon{
    margin-right:15px;
    margin-top:5px;
}
.list-inline-item a{
  color:#242424;
}
.list-inline-item a:hover{
  color:#33508D;
}

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.portfolio-box .portfolio-box-caption{
    background : rgba(0, 0, 0, 0.4); 
}
.project-name{
    font-weight:900;
    font-size:0.8rem;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link{
    padding:0rem;
}
/*.nav-item{*/
/*    width:90px;*/
/*    width:100%;*/
/*}*/
.nav-item img{
    height:20px;
}

/*nav바 아래로 내려올 때*/
@media (min-width: 992px){
    .nav_bk, .nav_bl{
        display:none;
    }
    .navbar-shrink .nav_bk{
        display:block;
    }
    .navbar-shrink .nav_wh{
        display:none;
    }
    .nav-link:hover .nav_bl{
        display:block;
    }
    .nav-link:hover .nav_wh, .nav-link:hover .nav_bk{
        display:none;
    }
    .navbar-shrink .logo_bl{
        display:block;
    }
    .logo_bl,.navbar-shrink .logo_wh{
        display:none;
    }
}

@media (max-width: 992px){
    .logo_bl{
        display:block;
    }
    .logo_wh{
        display:none;
    }
    .nav_wh, .nav_bl{
        display:none;
    }
    .nav_bk{
        display:block;
    }
    .nav-link:hover {
        display:block;
    }
    .nav-item{
        margin: 1rem 0;
}
}