* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
/*body, table, div, p{ font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }*/
/*font-weight는 100(thin), 400(normal), 700(bold)만 사용하세요.*/
.bold{
    font-weight:900 !important;
}
.section-heading img{
    height:3rem;
}
.navbar-light .navbar-toggler{
    border:none !important;
    padding: .25rem .0rem !important;
}
.bold{
    font-weight:900 !important;
}

.pr_img{
    max-width:150px;
    margin-bottom:35px;
    /*width:60%;*/
}
.mb-3{
    font-weight:bold;
    font-size:1.5rem;
}
.mb-0{
    padding:5px 0px;
    color: #242424 !important;
}
.portfolio-box img{
    width:100%;
}
.contact-icon{
    margin-right:15px;
    margin-top:5px;
}
.list-inline-item a{
  color:#242424;
}
.list-inline-item a:hover{
  color:#33508D;
}

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.portfolio-box .portfolio-box-caption{
    background : rgba(0, 0, 0, 0.4); 
}
.project-name{
    font-weight:900;
    font-size:0.8rem;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link{
    padding:0.1rem 0.7rem;
}
.nav-item img{
    height:20px;
}
.title_mobile{
    display:none;
}
#mainNav{
    line-height:1 !important;
}
.btn-arrow:hover{
    background-color:rgba(0,0,0,0.5);
}
.tit_pad_bot{
    padding-bottom:3rem;
}
.service-box{
    padding:0 1rem;
}
#portfolio{
    padding:4rem 0 3rem 0 !important;
}

/* PC 화면*/
@media (min-width: 992px){
    .nav_bk, .nav_bl{
        display:none;
    }
    .navbar-shrink .nav_bk{
        display:block;
    }
    .navbar-shrink .nav_wh{
        display:none;
    }
    .nav-link:hover .nav_wh, .nav-link:hover .nav_bk{
        display:none;
    }
    .nav-link:hover .nav_bl{
        display:block;
    }
    .logo_bl,.navbar-shrink .logo_wh{
        display:none;
    }
    .navbar-shrink .logo_bl{
        display:block;
    }
}
/* 모바일 화면*/
@media (max-width: 992px){
    .logo_bl{
        display:block;
    }
    .logo_wh{
        display:none;
    }
    .nav_wh, .nav_bl{
        display:none;
    }
    .nav_bk{
        display:block;
    }
    .nav-link:hover {
        display:block;
    }
    .nav-item{
        margin: 0.9rem 0;
    }
    .title_mobile{
        display:block;
    }
    .title_web{
        display:none;
    }
    .tit_pad_bot{
    padding-bottom:2rem;
    }
    .header_box{
    margin-top:3rem !important;
    }
    
    header.masthead{
    padding-top: 8rem;
    padding-bottom: calc(6rem - 56px);   
    }
    #portfolio, #contact{
     padding-top:2.5rem 0 2rem 0 !important;   
    }
    #contact .tit_pad_bot{
        padding-bottom:2.5rem !important;
    }
    #contact .phone{
        margin-bottom:0;
    }
}

