<!DOCTYPE html>
<html>
<head>
  <!--<title>건강한 달콤함, 라라스윗</title>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <!-- Latest compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
    <!--스포카한 산스-->
  
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    
</head>

<body>

<%= yield %>

</body>
</html>
